<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>csv-ex</title>
  </head>
  <body>
    <div>
      <select id="expansionType">
        <option value="1" selected>records</option> 
        <option value="2">fields</option>
        <option value="3">records and fields</option>
      </select>
      <input type="number" id="repetitionCount" value=3 /> 
      <button onclick="execute();">execute</button>
      <p id="result"></p>
    </div>
    <script>
      function execute () {
        let expansionType = +document.querySelector('#expansionType').value;
        let repetitionCount = +document.querySelector('#repetitionCount').value;
        const url = `/execute?expansionType=${expansionType}&repetitionCount=${repetitionCount}`;

        let request = new XMLHttpRequest();

        return new Promise((resolve, reject) => {
          request.open('GET', url, true);
          request.onload = () => {
            if (request.status >= 200 && request.status < 400) {
              resolve(JSON.parse(request.response));
            }
          };
          request.onerror = () => {
            reject(new Error("Error fetching posts"));
          }
          request.send();
        }).then((data) => {
          console.log('result data', data);
          // remove all child node
          let targetEl = document.querySelector('#result');
          if (targetEl.hasChildNodes()) {
            const childNodes = targetEl.childNodes;
            for (var i = 0; i < childNodes.length; i++) {
              targetEl.removeChild(childNodes[i]);
            }
          }

          // append anchor element
          let anchor = document.createElement('a');
          let text = document.createTextNode('download csv file');
          anchor.appendChild(text);
          anchor.href = data.link;
          targetEl.appendChild(anchor);
        }).catch((error) => {
          console.error('error', error);
        });
      }
    </script>
  </body>
</html>